@{
    ViewData["Title"] = "Home Page";
}
<style>
body { background-image: url('http://www.icorp.com.mx/blog/wp-content/uploads/2020/02/25f1a5ca-out-1.jpg'); background-size: cover; }
</style>

<body>
    <div class="text-center">
        <h1 class="display-4" style="font-family:EXCESS;color:antiquewhite">TALENT HUB GUATEMALA</h1>
        <p>
            <a class="btn btn-lg btn-primary" style="background-color:darkred" asp-controller="Home" asp-action="IngresarPersonas">INGRESAR PERSONAS</a>

        </p>
    </div>

</body>