
<h1>LISTA DE PACIENTES</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                NOMBRE
            </th>
            <th>
                DPI
            </th>
            <th>
                NACIMIENTO
            </th>
            <th>
                DIRECCION
            </th>

            <th></th>
        </tr>
    </thead>
    <thead>

        @foreach (var item in ViewData["ListaPersonas"] as List<Persona>)
        {
            <tr>
                <th>
                    @item.name;
                </th>
                <th>
@item.dpi;            
                </th>
                <th>
@item.datebirth;                </th>
                <th>
                    @item.address;
                </th>

                <th></th>
            </tr>
          }
</table>